    <div style="height:110px;background-color:#00d2d3;top:100px">
           <img src="../community.jpg" class="shadow" height="100px" width="100px" style="position:relative;top:70px;left:150px">
           <span style="position:relative;left:230px;top:100px"><a style="font-size:40px;text-decoration:none"href="/"><%-cname%></a></span>
           <div class="dropdown dropleft" style="position:relative;float:right;top:130px;margin:10px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fab fa-stack-overflow"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a href='/discussion/<%-cid%>'class="dropdown-item" href="#">Discussons</a>
                  <a href='/communityprofile/<%-cid%>'class="dropdown-item" href="#">Community Profile</a>
                  <a href='/communitymembers/<%-cid%>'class="dropdown-item" href="#">Community Members</a>
                  <a href='/manageCommunity/<%-cid%>' class='dropdown-item'>Manage Community</a>
                </div>
              </div>
        </div>
        <br><br><br><br>
        <hr>

